<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-account">
  <template>
    <style>
      :host {
        display: block;
        /* border: solid blue */
      }


    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">


    <h1> Sus cuentas</h1>

    <template is="dom-repeat" items="{{accounts}}">
        <h3>IBAN - {{item.iban}}</h3>
        <h3>Saldo -  {{item.balance}}</h3>
        </br>
    </template>

    <iron-ajax auto
    id="getaccount"
    url="http://localhost:3000/apitechu/v2/users/{{userid}}/accounts"
    handle-as="json"
    on-response="showData"
    >
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorAccount extends Polymer.Element {
      static get is() { return 'visor-account'; }
      static get properties() {
        return {
          userid: {
            type: String
          }, iban: {
            type: String
          }, accounts: {
            type: Array
          }, balance: {
            type: Number
          }
        };

      }
      showData (data){
        console.log("showData");
        console.log(data.detail.response)
        this.accounts = data.detail.response;

        //La parte izqueirda, a donde van los datos
        //es una propiedad
        //A la derecha del detail.response lo tenemos que copiar
        //directamente de lo que nos da la consola
        // this.userid = data.detail.response[0].userid
        // this.iban = data.detail.response[0].iban
        // this.balance = data.detail.response[0].balance
      }

    }

    window.customElements.define(VisorAccount.is, VisorAccount);
  </script>
</dom-module>
